
/*added box sizing*/

body {
  margin: 0px;
  padding:0px;
  display: flex;
  flex-direction: column;
}
h1{
  display:flex;
  justify-content: center;
  margin-top: 50px;
}
#gameArea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin-top: 50px;
}
#header {
  color: rgb(66, 149, 110);
  background-color: yellow;
  padding: 20px; 
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  border: 1px solid black;
  background-color: white;
  flex-wrap: wrap;
  max-width: 50%;
  min-height: 60vh;
  flex:2;
}
.box{
  background: wheat;
  padding:20px 20px 20px 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(66, 149, 110);
  display:flex;
  align-items: center;
}
.box .slider{
  height: 40px;
  display: flex;
  align-items: center;
}
.boxStyle {
  display: flex;
  box-sizing: border-box;
  flex-basis: calc(100%/16);
  border: 1px solid black;
}
