
/*added box sizing*/
* {
    box-sizing: border-box;
  }
body {
  margin: 0px;
  padding:0px;
  display: flex;
  flex-direction: column;
}
#header {
  display: flex;
  flex: 1;
  justify-content: center;
  color: rgb(66, 149, 110);
  background-color: yellow;
  height: 8vh;
}

#container {
  display: flex;
  border: 1px solid black;
  background-color: white;
  flex-wrap: wrap;
  max-width: 100%;
  min-height: 90vh;
}

.boxStyle {
  display: flex;
  box-sizing: border-box;
  flex-basis: calc(100% / 16);
  flex-grow: 1;
  border: 1px solid black;
}
